
{% extends 'administrator/shared/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="collection_text">ADD PRODUCT</div>
   
    <div class="row">
        <div class="col_6 offfset-3 bg-light shadow rounded my-5 p-5">
           <table>
            <tr>
                <th>photo</th>
                <th>price</th>
                <th>description</th>
                <th>stock</th>
            </tr>
            
            {% for d in data %}
            <tr>
                <td><img src="/media/{{d.photo}}"  width="100" alt=""></td>
                <td>{{d.price}}</td>
                <td>{{d.description}}</td>
                <td>{{d.stock}}</td>
                <td>
                    <a href="{% url 'admin_editrent' id=d.id %}" class="btn btn-warning">edit</a>
                    <a href="{% url 'admin_deleterent' id=d.id %}" class="btn btn-danger">delete</a>
                </td>
            </tr>
                
            {% endfor %}
                
           </table>
        </div>
    </div>
{% endblock content %}