{% extends 'user/shared/base.html' %}
{% load static %}


{% block content %}
    
    <div class="row">
        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>

        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>
        <div class="col-sm-4 p-4">
            <div class="card" style="background-color:rgb(186, 221, 223); border-color:darkblue;">
              <img class="card-img-top" src="{% static 'images/planimg.jpg' %}" width="100" alt="">
              <div class="card-body">
                <h4 class="card-title">Kannur</h4>
                <p class="card-text">single floor building with 2bedroom with attached toilet and a single bedroom,1common toilet,dining area,kitchen ,poarch(with 2car parking space)</p>
              </div>
            </div>
        </div>
    </div>
 
    {% endblock content %}
    